* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #1a202c;
}

.toto {
  margin: 0px;
  padding: 1.5rem ;
}

.card {
  margin: 30px;
  transition: transform .5s ease;

}
.card-img-top {
  min-width: 286px;
  min-height: 286px;
  object-fit: cover;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1a202c;
}

.card-img-top {
  height: 100%;
  min-height: 286px;
  max-height: 286px;
}
.card:hover {
  transform: scale(1.1);
  z-index: 3;
}
#boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  color: white;
  font-size: 20px;
  margin-top: 20px !important;
}
#boton:hover {
  color: white;
  font-size: 20px;
}
.form-inline {
  margin-top: 50px;
}


.toto {
display: relative;
margin-left: 10px;
}
